/* Please define your custom styles here */
@import url(https://fonts.bunny.net/css?family=ibm-plex-mono:400,700);

* {
    font-family: 'Open Sans', sans-serif;
  }
  
  @font-face {
      font-family: "optotype";
      /*src: url("../fonts/OptotypeGX.ttf") format('truetype');*/
      src: url("../fonts/OptotypeVF.ttf") format('truetype');
      /* font-weight: normal;
      font-style: normal; */
  }
  @font-face {
    font-family: "lang1";
    /*src: url("../fonts/OptotypeGX.ttf") format('truetype');*/
    src: url("../fonts/lang1.woff") format('woff');
    /* font-weight: normal;
    font-style: normal; */
  }
  @font-face {
    font-family: "lang2";
    /*src: url("../fonts/OptotypeGX.ttf") format('truetype');*/
    src: url("../fonts/lang2.woff") format('woff');
    /* font-weight: normal;
    font-style: normal; */
  }
  
  strong {
    background-color: lightgray;
    padding: 10px 17px;
    margin: 0 5px;
  }

  /* .jspsych-content-wrapper {
    background-color: gray;
  } */
  
  .btn {
    padding: 10px 30px;
    color: blue;
    background-color: antiquewhite;
    display: inline-block;
  }
  .btn:hover{
    background-color: rgb(231, 185, 126);
  }
  
  #demo {
    border: 2px dotted blue;
    height: 100px;
    font-variation-settings: "wght" 800;
  }
  .optotype {
    font-family: "optotype";
    font-size: 10em;
  }
  .stimulus {
    font-family: "optotype";
    font-size: 24px;
  }
  .inline {
      display: inline-block;
  }
  .spacerAngle {
    width: 88px;
  }
  .pregunta .jspsych-btn {
    display: inline-block;
    padding: 26px 40px;
    margin: 0px 2px;
    font-size: 30px;
    font-weight: 400;
    font-family: "Open Sans", "Arial", sans-serif;
    cursor: pointer;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 4px;
    color: #1770c1;
    background-color: #c8e5ff;
    border-color: #97a4b0;
  }
  .pregunta .jspsych-btn:hover {
    background-color: #53adff;
    border-color: #53adff;
    color: white;
  }
  .pregunta #jspsych-html-button-response-stimulus {
    font-size: 24px !important;
  }
  .hidebtn #jspsych-html-button-response-btngroup #jspsych-html-button-response-button-1 {
    display: none !important;
  }